
Api/bin/
Api/obj/
Domain/bin/
Domain/ojb/
Infrastructure/bin/
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.g.targets
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Domain/obj/Debug/net7.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/net7.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net7.0/Domain.assets.cache
Domain/obj/Debug/net7.0/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net7.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net7.0/Domain.GlobalUsings.g.cs
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Infrastructure/obj/Debug/net7.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net7.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net7.0/Infrastructure.GlobalUsings.g.cs
Domain/obj/Debug/net7.0/Domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net7.0/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net7.0/Domain.dll
Domain/obj/Debug/net7.0/Domain.pdb
Domain/obj/Debug/net7.0/ref/Domain.dll
Domain/obj/Debug/net7.0/refint/Domain.dll
Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
Application/obj/Debug/net7.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net7.0/Application.assets.cache
Application/obj/Debug/net7.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net7.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net7.0/Application.GlobalUsings.g.cs
Application/bin/Debug/net7.0/Application.deps.json
Application/bin/Debug/net7.0/Application.dll
Application/bin/Debug/net7.0/Application.pdb
Application/bin/Debug/net7.0/Domain.dll
Application/bin/Debug/net7.0/Domain.pdb
Application/obj/Debug/net7.0/Application.csproj.CopyComplete
Application/obj/Debug/net7.0/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/net7.0/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/net7.0/Application.dll
Application/obj/Debug/net7.0/Application.pdb
Application/obj/Debug/net7.0/ref/Application.dll
Application/obj/Debug/net7.0/refint/Application.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.CopyComplete
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/net7.0/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.pdb
Infrastructure/obj/Debug/net7.0/ref/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/refint/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.genruntimeconfig.cache
Infrastructure/obj/Infrastructure.csproj.EntityFrameworkCore.targets
obj/Infrastructur.EntityFrameworkCore.targets
