<mat-drawer-container style="height: 100vh;">

    <mat-drawer #categoryDrawer [mode]="'over'">
        <div class="menu-header">
            <h1>Menu</h1>
            <button mat-icon-button (click)="categoryDrawer.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <CategoryMenu></CategoryMenu>
    </mat-drawer>

    <mat-drawer #cartDrawer [mode]="'over'" [position]="'end'">
        <div class="menu-header">
            <h1>Cart</h1>
            <button mat-icon-button (click)="cartDrawer.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-drawer>
    <mat-toolbar color="basic">
        <span class="spacer"></span>
        <button mat-icon-button (click)="cartDrawer.open()">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
    <mat-toolbar color="basic">
        <button mat-icon-button (click)="categoryDrawer.open()">
            <mat-icon>menu</mat-icon>
        </button>

    </mat-toolbar>
    <div class="carousel-container">
        
    </div>
    <CategoryList></CategoryList>
    <div style="padding: 10rem;">
        <Product></Product>
    </div>
</mat-drawer-container>