.menu-header{
    width: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #eae8e4;
    h1{
        margin: 0;
        text-transform: uppercase;
    }
}

.spacer{
    flex: 1 1 auto;
}

mat-toolbar{
    border-bottom: 1px solid black;
}

.carousel-container{
    height: 550px;
    background-image: url("../assets/images/background-hero.jpg");
}